<main class="flex-grow-1 ms-100" style="margin-left: 100px; margin-top: 50px; padding: 2rem;">
  <div class="container w-auto">
    <div class="row gy-4">
      <div class="col-lg-4">
        <div class="card shadow text-center">
          <div class="card-body">
            <i class="bi bi-person-circle" style="font-size: 8rem;"></i>
            <h3>{{ name }}</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card shadow">
          <div class="card-body">
            <h4 class="mb-4 text-center">User Details</h4>
            <table class="table table-striped table-hover table-bordered">
              <tbody>
                <tr>
                  <td><strong>Name</strong></td>
                  <td>{{ name }}</td>
                </tr>
                <tr>
                  <td><strong>Email</strong></td>
                  <td>{{ email }}</td>
                </tr>
                <tr>
                  <td><strong>Phone No.</strong></td>
                  <td>{{ phoneno }}</td>
                </tr>
                <tr>
                  <td><strong>City</strong></td>
                  <td>{{ city }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
