
    <!--Header Start-->
    <header>
        <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img src="assets/logo.png" alt="Smart Programming Logo" width="60" />
                    <span class="h3 text-white">Smart Programming</span>
                </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="index.html">Home</a>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Online Batch Details</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">About Us</a></li>

                      <li><a class="dropdown-item" href="#">Contact Us</a></li>
                    </ul>
                  </li>

                </ul>
                <a href="login.html" class="btn btn-info ms-5">Login</a>
                <a href="register.html" class="btn btn-info ms-4">Register</a>
              </div>
            </div>
          </nav>
    </header>
     <!--Header Start-->

      <!--Main content start-->
    <main class="container-fluid">
         <!--Banner Images start-->
      <section>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/banner.jpg" class="d-block w-100" alt="first banner">
              </div>
              <div class="carousel-item">
                <img src="assets/banner.jpg" class="d-block w-100" alt="second banner">
              </div>
              <div class="carousel-item">
                <img src="assets/banner.jpg" class="d-block w-100" alt="thired banner">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </section>
      <!--Banner Images end-->

      <!--course section start-->
      <section class="container py-5 bg-light">
        <h3 class="text-center mb-4"> Our Courses </h3>
        <div class="row g-4">
         <!--first car start-->
            <div class="col-lg-3 col-md-6">
            <div class="card" style="width: 18rem;">
            <img src="assets/corejava.jpg" class="card-img-top" alt="core java">
            <div class="card-body">
              <h5 class="card-title">Core Java</h5>
              <p class="card-text">This course contains core java concepts, interview preparation, case studies and 5
                projects.</p>
                <p><strong>Price :</strong><del>Rs.5999</del><span class="bg-inf0 p-1">Rs.1999</span></p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
            <div class="card-footer text-body-secondary">
                Updated : 2 days ago
            </div>
            </div>
          </div>
     <!--first car end-->
     <!--second car start-->
          <div class="col-lg-3 col-md-6">
            <div class="card" style="width: 18rem;">
            <img src="assets/corejava.jpg" class="card-img-top" alt="core java">
            <div class="card-body">
              <h5 class="card-title">Core Java</h5>
              <p class="card-text">This course contains core java concepts, interview preparation, case studies and 5
                projects.</p>
                <p><strong>Price :</strong><del>Rs.5999</del><span class="bg-inf0 p-1">Rs.1999</span></p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
            <div class="card-footer text-body-secondary">
                Updated : 2 days ago
            </div>
            </div>
          </div>
           <!--second car end-->
     <!--third car start-->
          <div class="col-lg-3 col-md-6">
            <div class="card" style="width: 18rem;">
            <img src="assets/corejava.jpg" class="card-img-top" alt="core java">
            <div class="card-body">
              <h5 class="card-title">Core Java</h5>
              <p class="card-text">This course contains core java concepts, interview preparation, case studies and 5
                projects.</p>
                <p><strong>Price :</strong><del>Rs.5999</del><span class="bg-inf0 p-1">Rs.1999</span></p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
            <div class="card-footer text-body-secondary">
                Updated : 2 days ago
            </div>
            </div>
          </div>
       <!--third car end-->
     <!--forth car start-->
          <div class="col-lg-3 col-md-6">
            <div class="card" style="width: 18rem;">
            <img src="assets/corejava.jpg" class="card-img-top" alt="core java">
            <div class="card-body">
              <h5 class="card-title">Core Java</h5>
              <p class="card-text">This course contains core java concepts, interview preparation, case studies and 5
                projects.</p>
                <p><strong>Price :</strong><del>Rs.5999</del><span class="bg-inf0 p-1">Rs.1999</span></p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
            <div class="card-footer text-body-secondary">
                Updated : 2 days ago
            </div>
            </div>
          </div>
        <!--fourth car end-->
     <!--five car start-->
          <div class="col-lg-3 col-md-6">
            <div class="card" style="width: 18rem;">
            <img src="assets/corejava.jpg" class="card-img-top" alt="core java">
            <div class="card-body">
              <h5 class="card-title">Core Java</h5>
              <p class="card-text">This course contains core java concepts, interview preparation, case studies and 5
                projects.</p>
                <p><strong>Price :</strong><del>Rs.5999</del><span class="bg-inf0 p-1">Rs.1999</span></p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
            <div class="card-footer text-body-secondary">
                Updated : 2 days ago
            </div>
            </div>
          </div>
      <!--five car end-->
     <!--six car start-->
          <div class="col-lg-3 col-md-6">
            <div class="card" style="width: 18rem;">
            <img src="assets/corejava.jpg" class="card-img-top" alt="core java">
            <div class="card-body">
              <h5 class="card-title">Core Java</h5>
              <p class="card-text">This course contains core java concepts, interview preparation, case studies and 5
                projects.</p>
                <p><strong>Price :</strong><del>Rs.5999</del><span class="bg-inf0 p-1">Rs.1999</span></p>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
            <div class="card-footer text-body-secondary">
                Updated : 2 days ago
            </div>
            </div>
          </div>

          </div>
     <!--six car end-->


      </section>
      <!--course section end-->

    </main>
    <!--Main content end-->

   <!-- footer starts -->
    <footer class="footer bg-dark py-3 text-center">
        <div class="container">
            <span class="text-white"> Copyright Smart Programming </span>
            <div class="py-3">
                <a href="#" class="ms-3 text-decoration-none"> Privacy Policy </a>
                <a href="#" class="ms-3 text-decoration-none"> Terms of Services </a>
                <a href="#" class="ms-3 text-decoration-none"> Cancellation / Refund Policy </a>
            </div>
        </div>
    </footer>
    <!-- footer ends -->
