<div class="content container w-auto" style="margin-left: 70px;">
  <h2>Inquiry Management</h2>
  <p>Here you can search and add new inquiry</p>

  <div *ngIf="successMsg" class="mb-3 mt-5 alert alert-success" role="alert">
    {{ successMsg }}
  </div>

  <div *ngIf="errorMsg" class="mb-3 mt-5 alert alert-danger" role="alert">
    {{ errorMsg }}
  </div>

  <div class="container my-4" style="background-color: rgb(54, 54, 54);">
    <div class="navbar p-3">
      <div class="d-flex align-items-center">
        <div class="input-group me-2">
          <input type="text" class="form-control" placeholder="Search by phone number" [(ngModel)]="searchPhoneNumber">
          <button class="btn btn-outline-secondary" type="button" (click)="searchInquiry()">
            <i class="bi bi-search"></i>
          </button>
        </div>
        <button class="btn btn-primary me-2" (click)="openModal()" *ngIf="showPlusButton">
          <i class="bi bi-plus"></i>
        </button>
      </div>
      <a *ngIf="showAddInquiry" routerLink="/user-layout/add-inquiry"  class="btn btn-success ms-auto" >New Inquiry</a>
    </div>
  </div>

  <div *ngIf="showCustomerInfo">
    <h4>Customer Name: {{ customerName }}</h4>
    <table class="table table-striped table-hover table-bordered shadow mt-4">
      <thead>
        <tr>
          <th>Interested Course</th>
          <th>Discussion</th>
          <th>Inquiry Type</th>
          <th>Call Type</th>
          <th>Status</th>
          <th>Inquiry Date / Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inquiry of inquiries">
          <td>{{ inquiry.interestedCourse }}</td>
          <td>{{ inquiry.discussion }}</td>
          <td>{{ inquiry.inquiryType }}</td>
          <td>{{ inquiry.callType }}</td>
          <td>{{ inquiry.status }}</td>
          <td>{{ inquiry.dateOfInquiry | date: 'dd-MM-yyyy  hh:mm:ss'  }}</td>
        </tr>
      </tbody>
    </table>
  </div>


   <ng-template #inquiryModal>
    <div class="modal-header">
      <h5 class="modal-title">Continue Inquiry</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modalRef?.close()"></button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="submitForm()" #inquiryForm="ngForm">
        <div class="mb-3">
          <label class="form-label">Customer Phone Number:</label>
          <input type="text" name="phoneno" class="form-control" [(ngModel)]="formData.phoneno" required />
        </div>
        <div class="mb-3">
          <label class="form-label">Customer Name:</label>
          <input type="text" name="name" class="form-control" [(ngModel)]="formData.name" required />
        </div>
        <div class="mb-3">
          <label class="form-label">Interested Course:</label>
          <input type="text" name="interestedCourse" class="form-control" [(ngModel)]="formData.interestedCourse" required />
        </div>
        <div class="mb-3">
          <label class="form-label">Discussion:</label>
          <textarea name="discussion" class="form-control" [(ngModel)]="formData.discussion" required></textarea>
        </div>
        <div class="mb-3">
          <label class="form-label">Inquiry Type:</label>
          <select name="inquiryType" class="form-select" [(ngModel)]="formData.inquiryType" required>
            <option value="" disabled>Select Inquiry Type</option>
            <option>Call</option>
            <option>Mail</option>
            <option>Website</option>
            <option>Social Network</option>
            <option>Friend Reference</option>
            <option>Advertisement</option>
            <option>Other</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Call Type:</label>
          <select name="callType" class="form-select" [(ngModel)]="formData.callType" required>
            <option value="" disabled>Select Call Type</option>
            <option>Inbound Call</option>
            <option>Outbound Call</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Status:</label>
          <select name="status" class="form-select" [(ngModel)]="formData.status" (change)="toggleFollowUpDate()" required>
            <option value="" disabled>Select Status</option>
            <option>Interested - (follow up)</option>
            <option>Interested - (closed)</option>
            <option>Not Interested - (closed)</option>
            <option>Purchased - (closed)</option>
            <option>Others - (closed)</option>
          </select>
        </div>
        <div class="mb-3" *ngIf="showFollowUpDate">
          <label class="form-label">Follow Up Date:</label>
          <input type="date" name="followUpDate" class="form-control" [(ngModel)]="formData.followUpDate" />
        </div>
        <button type="submit" class="btn btn-primary">Add Inquiry</button>
      </form>
    </div>
  </ng-template>
</div>
