<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Ligin</title>
  </head>
  <body>
    <div class="card shadow " style="width: 400px;">
        <div class="card-body text-center">
            <h4 class="card-title py-4 text-decoration-underline">Admin Login</h4>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Admin Email :</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
               </div>
               <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Admin Email :</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
           </div>
           <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
  </div>

  </body>
</html>

