<div class="content container w-auto" style="width: 80%;">
  <h2>Admin Dashboard</h2>
  <p>Dashboard contains the different graphs and charts showing the different details</p>

  <section class="py-5">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="card shadow p-3">
          <h4 class="text-center">Today's Sale Graph</h4>
          <div id="myPlot"></div>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="card shadow p-3">
          <h4 class="text-center">Courses Sold Graph</h4>
          <canvas id="myPieChart"></canvas>
        </div>
      </div>
    </div>
  </section>

  <section class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card shadow p-3">
          <h4 class="text-center">Courses Sold Per Day Graph</h4>
          <canvas class="mt-3" id="myChart"></canvas>
        </div>
      </div>
    </div>
  </section>
</div>
